html,
body {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif, Arial;
  line-height: 25px;
  max-width: 100%;
  overflow-x: hidden;
}

.testiMiddle {
  text-align: center;
}

.serviceDesc {
  padding-top: 15px;
}

.check {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 24px;
  height: 24px;
  padding: 5px 6px;
  background-color: #cfd4ed;
  color: #0d28a6;
}

.circle1 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #f9cc00;
  color: white;
  margin-bottom: 16px;
}

.footLogo {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 11px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
}

.footLogo1 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
  margin-left: 10px;
}

.circle2 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 9px;
  background-color: #fa2c5a;
  color: white;
  margin-bottom: 16px;
}

.circle3 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
}

.flexSB {
  display: flex;
  justify-content: space-between;
}

.flexMidCenter {
  display: flex;
  align-items: center;
}

.accorText {
  color: black;
  white-space: normal !important;
}

.footerFont {
  font-size: 14px;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.footerMarginTop {
  margin-top: 16px;
}

.footerMarginNR {
  margin-top: 0px;
}

.smallBold {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.titleAccor {
  font-size: 24px;
  font-weight: bold;
}

.banner {
  background-color: #0d28a6;
  max-width: 1168px;
  height: 326px;
  border-radius: 10px;
}

.midBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bannerButton {
  margin-top: 50px;
}

.descBox {
  width: 468px;
  color: white;
  margin-top: 16px;
}

.titleBanner {
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-top: 70px;
}

.circle4 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 10px;
  background-color: #5cb85f;
  color: white;
  margin-bottom: 16px;
}

.displayInlineBlock {
  display: inline-block;
}

.btn {
  font-size: 14px;
}

.marginCardBodyTesti {
  margin-top: 60px;
}

.star {
  color: yellow;
}

.testiBtnBlack {
  color: black;
}

.owl-nav {
  background-color: transparent;
  color: transparent;
}

.testiCard {
  max-width: 619px;
  max-height: 270px;
  margin: 40px auto;
  background-color: #f1f3ff;
}

.middleCard {
  margin: 40px 50px;
}

.flexRow2 {
  display: flex;
  flex-direction: row;
}

.roundedImage {
  border-radius: 50%;
  position: relative;
  max-width: 80px;
  max-height: 80px;
  top: 30%;
  left: 50%;
  /* margin: 95px 46px 95px; */
}

.roundedButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 10px;
  padding: 3px;
  display: inline-block;
  border: 1px solid #c4c4c4;
}

.roundedButton:hover {
  background-color: #5cb85f;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card-text {
  font-size: 14px;
}

.smallBold {
  font-size: 14px;
  font-weight: bold;
}

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.whyCard {
  max-width: 268px;
  height: fit-content;
  margin-top: 20px;
}

.services {
  margin-top: 18px;
}

.box {
  position: relative;
  max-width: 550px;
}

.dot1 {
  position: absolute;
  height: 133px;
  width: 133px;
  background-color: #92d094;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.dot2 {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #fa2c5a;
  border-radius: 50%;
  top: 50px;
  left: 400px;
}

.dot3 {
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: #f9cc00;
  border-radius: 50%;
  top: 330px;
  left: 50px;
}

.dot4 {
  position: absolute;
  height: 360px;
  width: 360px;
  background-color: #0d28a6;
  border-radius: 50%;
  bottom: -400px;
  left: 100px;
}

.img1 {
  position: relative;
  bottom: 50px;
}

.bgLanding {
  width: 100%;
  min-height: 530px;
  background-color: #f1f3ff;
}

.mainNavbar {
  padding-top: 30px;
}

.marginSpace {
  margin-top: 100px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.blueBox {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.title {
  color: black;
  font-weight: bold;
  line-height: 54px;
  font-size: 36px;
}

.titleServices {
  color: black;
  font-weight: bold;
  line-height: 54px;
  font-size: 36px;
}

.titleLanding {
  color: black;
  font-weight: bold;
  line-height: 54px;
  font-size: 36px;
}

.desc {
  font-size: 14px;
  line-height: 20px;
}

.descLanding {
  font-size: 14px;
  line-height: 20px;
}

.navText {
  padding-right: 10px;
}

.car {
  left: 65px;
}

.image1 {
  position: relative;
  top: 170px;
  right: 15px;
  /* max-width: 100%; */
  max-width: 704px;
  max-height: 407px;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  /* max-width: 100%; */
  max-width: 704px;
  max-height: 407px;
}

.landingText {
  padding-left: 55px;
}

#buttonSidebar {
    display: none;
}

/* .blueBox2 {
    background-color: transparent;
    width: 100px;
    height: 34px;
    margin-left: 20px;
    display: none;
} */

/* Mobile */
@media only screen and (max-width: 640px) {
    html,
    body {
        scroll-behavior: smooth;
        font-family: Helvetica, sans-serif, Arial;
        line-height: 25px;
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
    }

    .marginSpace {
      margin-top: 100px;
    }

    .bgLanding {
      width: 100%;
      min-height: 810px;
      background-color: #f1f3ff;
      position: relative;
    }

    .mainNavbar {
        padding-top: 30px;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    
    .banner {
        background-color: #0d28a6;
        min-width: 328px;
        height: 400px;
        border-radius: 10px;
    }

    .titleBanner {
        color: white;
        font-weight: bold;
        font-size: 24px;
        margin-top: 64px;
    }

    .descBox {
        width: 212px;
        color: white;
        margin-top: 16px;
    }

    .midBanner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bannerButton {
        margin-top: 50px;
    }

    .smallBold {
        font-weight: bold;
        font-size: 14px;
        color: black;
    }

    .footerMarginNR {
        margin-top: 16px;
    }

    .footerMarginNR24 {
        margin-top: 24px;
    }

    .accorText {
        color: black;
        max-width: 248px;
        white-space: normal !important;
        text-align: left;
    }

    .whyCard {
        min-width: 100%;
        height: fit-content;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .title {
        color: black;
        font-weight: bold;
        line-height: 54px;
        font-size: 36px;
        text-align: center;
    }

    .titleServices {
        color: black;
        font-weight: bold;
        line-height: 54px;
        font-size: 36px;
        text-align: left;
    }

    .titleLanding {
        color: black;
        font-weight: bold;
        line-height: 54px;
        font-size: 36px;
        text-align: left;
    }
    
    .centerText {
        text-align: center;
    }

    .marginLeft16{
        margin-left: 16px;
    }

    .box {
        max-width: 500px;
        left: 20px;
        margin-top: 50px;
    }

    .img1 {
      position: relative;
      max-width: 250px;
      right: -10px;
      bottom: 30px;
    }

    .dot1 {
      position: absolute;
      height: 80px;
      width: 80px;
      background-color: #92d094;
      border-radius: 50%;
      margin-bottom: 50px;
      top: 0px;
      left: 20px;
    }

    .dot2 {
      position: absolute;
      height: 25px;
      width: 25px;
      background-color: #fa2c5a;
      border-radius: 50%;
      top: 30px;
      left: 250px;
    }

    .dot3 {
      position: absolute;
      height: 38px;
      width: 38px;
      background-color: #f9cc00;
      border-radius: 50%;
      top: 250px;
      left: 20px;
    }

    .dot4 {
      position: absolute;
      height: 250px;
      width: 250px;
      background-color: #0d28a6;
      border-radius: 50%;
      top: 50px;
      left: 50px;
    }

    .serviceDesc {
      padding-top: 350px;
    }

    .testiCard {
      min-width: 328px;
      min-height: 372px;
      margin: 16px;
      background-color: #f1f3ff;
    }

    .roundedImage {
      border-radius: 50%;
      position: relative;
      max-width: 80px;
      max-height: 80px;
      margin-top: 20px;
    }

    .centerImage {
        top: 50%;
        left: -10%;
    }

    .centerDescTesti {
        margin: 24px 32px;
    }

    .marginCardBodyTesti {
        margin-top: 30px;
    }

    .star {
        color: yellow;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .offcanvas {
        max-width: 50%;
    }

    #buttonSidebar {
        display: inline-block;
        max-width: 40px;
    }

    .blueBox2 {
        background-color: #0d28a6;
        width: 100px;
        height: 34px;
        margin-left: 20px;
    }

    .blueBox3 {
        background-color: transparent;
        width: 100px;
        height: 34px;
        margin-left: 20px;
    }

    .flexbox {
        display: flex;
        max-width: 640px;
        justify-content: space-around;
    }

    .car {
      left: 65px;
    }

    .image1 {
      position: relative;
      top: 170px;
      right: 15px;
      /* max-width: 100%; */
      max-width: 500px;
      max-height: 214px;
    }

    .image2 {
      position: absolute;
      top: 50%;
      left: 5%;
      /* max-width: 100%; */
      max-width: 640px;
      max-height: 214px;
    }

    .landingText {
      padding-left: 20px;
    }
}